# build --aspects=@rules_rust//rust:defs.bzl%rust_clippy_aspect
# build --output_groups=+clippy_checks

# prebuilt protobuf
# remove after bazel 9 migration and https://github.com/bazel-contrib/rules_go/issues/4587
build --incompatible_enable_proto_toolchain_resolution
build --per_file_copt=external/.*protobuf.*@-DPROTOBUF_WAS_NOT_SUPPOSED_TO_BE_BUILT
build --host_per_file_copt=external/.*protobuf.*@-DPROTOBUF_WAS_NOT_SUPPOSED_TO_BE_BUILT
build --per_file_copt=external/.*grpc.*@-DGRPC_WAS_NOT_SUPPOSED_TO_BE_BUILT
